.noteForm {
  height: 250px;
  width: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 50px;
  //border: 2px solid #ffd580;
  padding: 10px;
  border-radius: 10px;
  justify-content: space-between;
}

.heading {
  font-family: Georgia, sans-serif;
  font-size: 1.5em;
  letter-spacing: -1px;
  background-color: pink;
  color: white;
}

.submitButton {

}